@import "utils";

.profile__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.profile__contatiner {
  @include desktop {
    background-color: beige;
    width: 1200px;
    margin: auto;
  }
}

// .profile__contatiner {
//   height: 100%;
// }
.profile__contatiner--image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.profile__info {
  width: 100%;
  min-height: 500px;
  // text-align: center;
  // font-size: 3rem;
  // font-weight: 700;
}
